<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>eBazarek</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link id="theme_style" rel="stylesheet" href="styles/my_styles.css">
        <!-- BootStrap & jQuery -->
        <link rel="stylesheet" id="theme_style"
            href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.3/dist/darkly/bootstrap.min.css"
            crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
        </script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
        </script>
    </head>
    <body class="d-flex flex-column min-vh-100">
        <main class="flex-grow-1">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container">
                    <a class="navbar-brand" href="/home"> eBazarek </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav" id="menu-buttons">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="/offers">Oferty</a>
                            </li>
                            {% if _session.id %}
                            <li class="nav-item">
                                <a class="nav-link" href="/panel">Panel użytkownika</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="/about">O nas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/opinions">Opinie klientów</a>
                            </li>
                        </ul>

                        <div class="ms-auto d-flex flex-column flex-sm-row align-items-start align-items-sm-center gap-2">
                        {% if _session.id %}
                            <div class="d-flex align-items-center">
                                <span>Witaj {{ _session.login }}!</span>
                            </div>
                            <div> <a href="/logout">
                                <button class="btn btn-info" type="submit" style="width: 120px;">Wyloguj się</button>
                            </a> </div>
                        {% else %}
                            <form action="/" method="POST" class="d-flex flex-column flex-sm-row gap-2">
                                <div>
                                    <input type="text" name="login" class="form-control" placeholder="Login"
                                        aria-label="login" style="width: 170px;">
                                </div>
                                <div>
                                    <input type="password" name="password" class="form-control" placeholder="Hasło"
                                        aria-label="password" style="width: 170px;">
                                </div>
                                <div>
                                    <button class="btn btn-info" type="submit" style="width: 120px;">Zaloguj się</button>
                                </div>
                            </form>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </nav>
            <!-- <button id="toggle_theme"> Zmień motyw </button>
<script src="/js/toggle_theme.js"></script> -->
            <div class="container mb-5" >

                {% for msg in get_msg() %}
                <div id="alerts">
                    {% if msg.type == 'success' %}
                    <div class="alert alert-success">{{ msg.text }}</div>
                    {% elseif msg.type == 'error' %}
                    <div class="alert alert-danger">{{ msg.text }}</div>
                    {% else %}
                    <div class="alert alert-primary">{{ msg.text }}</div>
                    {% endif %}
                </div>
                {% endfor %}
                {% block content %}{% endblock %}
            </div>
        </main>
        <footer class="footer py-3" style="background-color: #213769" >
            <div class="container">
                <span class="text-muted" style="color: #eeddcc">
                    WWW i Języki Skryptowe - eBazarek - Wykonali M.Kołodziej i D.Stasielak
                </span>
            </div>
        </footer>
    </body>
</html>
