{% extends "base.html" %}

    {% block content %}
<div class="text-center" style="margin-top: 20px;">
    <!--
<div id="go_to_store" class="mb-3 text-center">
Kliknij aby zobaczyć naszą ofertę
</div>
-->
    <img src="/graphic/eBazarekStartowa.png" class="img-fluid rounded fade-img" alt="Strona startowa"/>
    <a href="/offers">
        <button type="button" class="btn btn-dark btn-lg" id="go_to_store">
            Kliknij, aby zobaczyć naszą ofertę
        </button>
    </a>
</div>
{% endblock %}
