html {
    height: 100%;
    color: #e5e5e5;
    background-color: #212121;
}

body {
    height: 100%;
    color: #e5e5e5;
    /* background-color: #212121; */
    background-image: url( "../graphic/bg.jpg" ) !important;
    background-size: 100% auto;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #213769;
    color: white;
    text-align: center;
}
