html, body {
    margin: 0;
    padding: 0;
    color: #e5e5e5;
    background-color: #212121;
}

.footer {
    background-color: #213769;
    color: white;
    text-align: center;
}

.fade-img {
    mask-image:
    linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
  -webkit-mask-image:
    linear-gradient(to top, transparent 0%, black 10%, black 90%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 10%, black 90%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}

#go_to_store {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
